<h3>Welcome to levelUp!</h3>
<span>A website for lifelong learners looking to share their knowledge.</span>
<ol>
  <li id="step-one">Choose a skill to search for from the dropdown menu.</li>
  <li id="step-two">Specify a zipcode to find lifelong learners near you!</li>
  <li id="step-three"><b>ENTER</b> a world of knowledge and connect with those who share your interests and skills</li>
</ol>
