<input id="pac-input" class="controls" type="text" placeholder="Search Box">

<select id="select-skill">
  <option value="All">All</option>
  <% @skills.each do |skill| %>
    <option value="<%=skill.name%>"><%=skill.name%></option>
  <% end %>
</select>

<div id="map"></div>
<img id='loader' class='hide' src='https://thelearningdoctor.files.wordpress.com/2015/09/wait.jpg'>

<div class="popup_content" id="list_popup"></div>
