<div class="container search-form center-block">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
		    <div class="input-group">
                <div class="input-group-btn search-panel">

               		<select id="select-skill" class="btn btn-default dropdown-toggle move-front" data-toggle="dropdown">
					       	<option value="All">All</option>
					  	    <% @skills.each do |skill| %>
					    	    <option value="<%=skill.name%>"><%=skill.name%></option>
					  	    <% end %>
					       </select>
				        </div>
                <!-- <input type="hidden" name="search_param" value="all" id="search_param"> -->
                <input id="search-input" type="text" class="form-control" name="search" placeholder="Search by zip code">
                <span class="input-group-btn">
                    <button id="submit-skill" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
	</div>
</div>

<div id="sidebar-peek"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></div>
<div style="display:none" id="sidebar-full"><%= render partial: "homepage/sidebar"  %></div>
<img style="display:none" id="search-example" width="500" height="300" class="mush-logo" src=<%=image_url("search_example.png")%>>

<div id="map"></div>

<div class="scene hide">
  <img class="car" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/car.svg" alt="" />
  <img class="poof" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/poof.svg" alt="" />
  <img class="sign" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/sign.svg" alt="" />
  <em>LOADING...</em>
</div>


<div class="popup_content" id="list_popup">
</div>
