<input id="pac-input" class="controls" type="text" placeholder="Search Box">

<select id="select-skill">
  <option value="All">All</option>
  <% @skills.each do |skill| %>
    <option value="<%=skill.name%>"><%=skill.name%></option>
  <% end %>
</select>

<div id="map"></div>

<div class="scene hide">
  <img class="car" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/car.svg" alt="" />
  <img class="poof" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/poof.svg" alt="" />
  <img class="sign" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/sign.svg" alt="" />
  <em>LOADING...</em>
</div>


<div class="popup_content" id="list_popup"></div>
