<ul id="message-board" data-chatroom="<%=current_user.id%>_<%=params[:reciever_id]%>">
  <%@messages.each do |message|%>
    <li><b><%= message.sender.first_name%></b>: <%=message.content%></li>
  <%end%>
</ul>