<div class="chat-container" >
  <%=render partial: "messages"%>
</div>

<%= form_for :message, html: {id: "message_form"}, :url => "/messages?reciever_id=#{params[:reciever_id]}" do |f| %>
  <%= f.text_area :content %><br/>

  <input type="submit" value="Send Message">
<% end %>

