#chat-container {
  height: 200px;
  width: 80%;
  overflow: scroll;
  margin:0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #F2F2F2;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.44);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.44);
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.44);
  border-radius: 7px;
  border: 5px solid #386FA4;
}

#message-board {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  align-items: flex-start;
}

#message_content {
  height: 70px;
  width: 70%;
  margin: 0 auto;
  border-radius: 5px;
}

#message_form {
  display: flex;
  flex-direction: column;


}

#message_form > input[type = "submit"] {
  width: 30%;
  align-self: center;
  border-radius: 5px;
}

#user_one_message, #user_two_message {
  display: inline-block;
  padding: 5px;
  margin: 8px;
  border: .5px solid darkgray;
  font-size: 1em;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

#user_one_message {
  background-color: #84D2F6;
  border-radius: 20px 20px 20px 0px;
  
}

#user_two_message {
  background-color: #f6be84;
  border-radius: 20px 20px 0px 20px;
}

.user_two_message  {
  align-self: flex-end;
}

/*#message-board li:nth-child(even) {
  color: green;
}*/


::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 9px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #808080;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 56px none #ffffff;
  border-radius: 45px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #d8d7d9;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

