$navbar-default-bg: #563D7C;
@import "bootstrap-sprockets";
@import "bootstrap";

.yield-box {
  padding-top: 80px;
}


.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}


#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}


#map {
        height: 80%;
        width: 60%;
        margin: 0 auto 0 auto;

      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }



.new_user {
  max-width: 360px;
  padding: 15px;
  margin: 0 auto 0 auto;
}
.new_user .form-signin-heading{
  max-width: 360px;
  padding: 15px;
  margin: 0 auto;
  font-size: 32px;
}
.new_user .checkbox {
  margin-bottom: 10px;
}
.new_user .checkbox {
  font-weight: normal;
}
.new_user .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.new_user .form-control:focus {
  z-index: 2;
}
.new_user input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.new_user input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.new_user .btn-default {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	height: auto;
	width: 330px;
	font-size: 14px;
	font-weight: normal;
	padding: 14px 0;
	border-color: #59B2E6;
}
.new_user .btn-default:hover,
.new_user .btn-default:hover:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}


@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
