
$navbar-default-bg: #133C55;
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}
p, div {
    font-family: 'Quicksand', sans-serif;
}

.yield-box {
  padding-top: 30px;
}

.search-form {
  padding-top: 10px;
  position: absolute;
  height: 50%;
  width: 100%;
  margin: 0 auto 0 auto;
}

.move-front{
  z-index: 10;
}

#contacted-users {
  float: right;
  margin-right: 20%;
  list-style: none;
}

#contacts-heading {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 600;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-brand{
  font-size: 28px;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 20px;
}
.navbar-wrapper .navbar .container {
  width: auto;
  background-color: #133C55;
}

.footer {
  border-top: 1px solid black;
  margin-top: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #59A5D8
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}


#map {
        height: 80%;
        width: 100%;
        margin: 0 auto 0 auto;

      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: relative;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

.map_btn {
  background-color: #91E5F6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.new_user {
  max-width: 360px;
  padding: 15px;
  margin: 0 auto;
}
.new_user .form-signin-heading{
  max-width: 360px;
  padding: 15px;
  margin: 0 auto;
  font-size: 32px;
}
.new_user .checkbox {
  margin-bottom: 10px;
}
.new_user .checkbox {
  font-weight: normal;
}
.new_user .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.new_user .form-control:focus {
  z-index: 2;
}
.new_user input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.new_user input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.new_user .btn-default {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  height: auto;
  width: 330px;
  font-size: 14px;
  font-weight: normal;
  padding: 14px 0;
  border-color: #59B2E6;
}
.new_user .btn-default:hover,
.new_user .btn-default:hover:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}

#edit-note {

    background: #fdfd72;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
}

.edit_user input[type="file"] {
  margin: auto;
  text-align: center;
}


@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 0px;
  }
}


@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}



/*   */

body {
  margin-top:20px;
  background:#386FA4;
}

.btn-compose-email {
    padding: 10px 0px;
    margin-bottom: 20px;
}

.btn-green {
    background-color: #00C851;
    border-color: #00C851;
    color: white;
}

.panel-teal .panel-heading {
    background-color: #37BC9B;
    border: 1px solid #36b898;
    color: white;
}

.panel .panel-heading {
    padding: 5px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 1px solid #DDD;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.panel .panel-heading .panel-title {
    padding: 10px;
    font-size: 17px;
}

form .form-group {
    position: relative;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.inner-all {
    padding: 10px;
}

/* mail */

.compose-mail {
  position: relative;
  padding: 15px;
}
.compose-mail textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #DDD;
}

@media (max-width: 640px) {
  .compose-mail-wrapper .compose-mail {
    padding: 0px;
  }
}
@media (max-width: 360px) {
  .compose-mail-wrapper .search-mail input {
    width: 130px;
  }
  .compose-mail-wrapper .panel-sub-heading {
    padding: 10px 7px;
  }
}



/* profile stuff */

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 5px;
    padding: 20px;
}
.bs-callout:last-child {
    margin-bottom: 0px;
}
.bs-callout h4 {
    margin-bottom: 10px;
    margin-top: 0;
}

.bs-callout-green {
    border-left-color: #00C851;
}

.bs-callout-green h4{
    color: #00C851;
}

.resume .list-group-item:first-child, .resume .list-group-item:last-child{
  border-radius:0;
}

/*makes an anchor inactive(not clickable)*/
.inactive-link {
   pointer-events: none;
   cursor: default;
}

