header {
  display: flex;
  justify-content: flex-start;
  padding: 0 20px 0 20px
}

#header-logo {
  font-size: 2em;
  font-family: Helvetica;
}

#navbar-main {
  margin-left: auto;
  align-self: center;
}

#navbar-main a {
  text-decoration: none;
}

.fa-level-up {

}


