<div>
  <footer class="footer">
    <small style="color: white">
      Copyright © Level Up by
      <a href="https://github.com/nhantnon/final-learning-app">levelUpLearning</a>
    </small>
  </footer>
</div>
