<div class="container-fluid">
  <footer class="footer">
    <small>
      Copyright ©
      <a href="#">Level Up</a>
      by
      <a href="https://github.com/nhantnon/final-learning-app">#</a>
    </small>
  </footer>
</div>
